<?xml version="1.0" encoding="utf-8" ?>
<BitAuto.Utils.CommonPlatformConfig>
  <CommonConfig>
    <!--DefaultValidatecodeName指定的名字在Validatecodes中必须存在-->
    <ValidateCodeConfig DefaultValidatecodeName = "default">
      <!--可以定义多个验证码，不用的验证吗格式不同-->
      <Validatecodes>
        <!--
                  Width验证图片的宽度，
                  Height验证图片的高度，
                  FontName输出的字符的字体,服务器存在的字体名可以在"控制面板—>字体"中查到
                  FontSize字体大小,
                  IsDrawNoise是否画出干扰线，
                  IsUseNumber是否只使用数字，
                  CharCount指定画出的字符个数如果是0，则画出4——8的随机个数
                  IsDistorted 是否变形，默认为true  -->

        <add ValidatecodeName="default" Width="150" Height="40" FontName="" FontSize="30" IsDrawNoise="true" CharCount="4" IsUseNumber="true" IsDistorted = "false"></add>
        <add ValidatecodeName="A" Width="200" Height="50" FontName="Shruti" FontSize="50" IsDrawNoise="false" CharCount="0" ></add>
        <add ValidatecodeName="B" Width="250" Height="60" FontName="Times New Roman" FontSize="35" IsDrawNoise="false" CharCount="8"></add>
      </Validatecodes>
    </ValidateCodeConfig>
    <FckEditor BaseFilePath="/fckeditor/" UserFilesPath="/Demo/UploadFile/">
      <AbsoluteFileUrlConfig Enabled="True" AllowMultiHostName="false"  DefaultHostName="http://localhost:3830">
        <Hosts>
          <add Host="http://image1.bitauto.com"></add>
          <add Host="http://image2.bitauto.com"></add>
        </Hosts>
      </AbsoluteFileUrlConfig>
      <UploadConfig AutoDirectory="true" AutoFileName="true"></UploadConfig>
    </FckEditor>
    <!--
                Enabled——是否启用；
                Keychars——要过滤的字符，如果存在误杀，则去掉误杀的字符，以'|'字符分隔多个字符；
                Keywords——要过滤的字符串，以'|'字符分隔多个字符串；
                IgnorePostInputs——忽略的参数以'|'字符分隔多个参数（包括get、post参数）；
                SpecialPages——特别的页面，走不通的规则，如果有的页面确实允许SQLSecurityConfig中过滤的字符或字符串，
                                           则增加SpecialPages页作特别的设置，PageUrl中的'~'代表应用的根，其他同SQLSecurityConfig的属性。
            -->
    <SQLSecurityConfig Enabled="true" Keychars="'|;|(|)"  Keywords="select|insert|update|delete|drop|truncate|declare|xp_cmdshell|/add|net user|exec|execute|cast|xp_|sp_|0x" IgnorePostInputs ="__VIEWSTATE|__EVENT\S*|\S*btn\S*|\S*Button\S*|\S*radiobutton\S*|\S*checkbox\S*|__PREVIOUSPAGE|__LASTFOCUS" >
      <SpecialPages>
        <add PageUrl="~/\S*error.aspx" Enabled ="false" ></add>
        <add PageUrl="~/\S*sqlerror.aspx" Enabled ="false" ></add>
        <add PageUrl="~/tool/test/\S*" Enabled ="false" ></add>
        <add PageUrl="~/\S*.jpg" Enabled ="false"></add>
        <add PageUrl="~/\S*WebResource.axd" Enabled ="false"></add>
        <add PageUrl="~/\S*SQLSecurityDemo.aspx" Enabled ="true" Keychars="'"  Keywords="select|insert|"></add>
      </SpecialPages>
    </SQLSecurityConfig>
    <CacheConfig defaultProvider="EnyimProvider">
      <providers>
        <add name="EnyimProvider" type="Jita.Memcache.EnyimProvider,Jita.Memcache" defaultExpireTime="5000000"/>
      </providers>
    </CacheConfig>
  </CommonConfig>
</BitAuto.Utils.CommonPlatformConfig>