<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  -->

<configuration>
  <configSections>
    <!--Memcached Providers Config Start From Here-->
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
    <!--Memcached Providers Config Stop To Here-->
    <section name="Jita.Utils.CommonPlatformConfig" type="Jita.Common.Config.CommonPlatformConfiurationSectionHandler, Jita.Common.Config" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <Jita.Utils.CommonPlatformConfig configSource="Jita.Utils.CommonPlatformConfig.config"/>
  <!--Memcached Providers Config Start From Here-->
  <enyim.com>
    <memcached>
      <servers>
        <add address="127.0.0.1" port="11211"/>
        <!--<add address="192.168.0.14" port="11225" />
		  		<add address="192.168.0.15" port="11225" />
		  		<add address="192.168.0.16" port="11225" />-->
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="1000" connectionTimeout="00:00:10" deadTimeout="00:02:00"/>
    </memcached>
  </enyim.com>
  <!--Memcached Providers Config Stop To Here-->

  <connectionStrings>
    <!--<add name="BitautoReview" connectionString="server=192.168.0.173\sql08;uid=sa;pwd=sa;database=BitautoReview2;pooling=true;min pool size=1;max pool size=50"/>-->
    <add name="Jita" connectionString="server=.;uid=sa;pwd=baa;database=Jita;pooling=true;min pool size=1;max pool size=50"/>
  </connectionStrings>
  
  <appSettings>
    <!--缓存实体配置文件路径-->
    <add key="CacheCaseFilePath" value="~/App_Data/CacheCase.xml" />
    <!--查询数据调用案例-->
    <add key="GetCaseFilePath" value="~/App_Data/GetCase.xml" />
    <!--删除缓存实体配置文件路径-->
    <add key="RemoveCacheCaseFilePath" value="~/App_Data/CacheRemoveCase.xml" />
    <!--更新数据调用案例-->
    <add key="UpdateCaseFilePath" value="~/App_Data/UpdateCase.xml" />
    <!--是否启用缓存-->
    <add key="IsCache" value="0" />
  </appSettings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"></customErrors>
    <globalization responseEncoding="UTF-8" requestEncoding="UTF-8" fileEncoding="UTF-8" />
    <authentication mode="Forms">
      <forms protection="Encryption" domain=".bitauto.com" enableCrossAppRedirects="true" />
    </authentication>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="SHA1" />
    <pages>
      <controls>
        <add tagPrefix="uc" namespace="Jita.Common" assembly="Jita.Common" />
      </controls>
    </pages>
    <httpRuntime maxRequestLength="102400" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<remove name="SpiderFilterHttpModule"/>
      <add name="SpiderFilterHttpModule" type="Bitauto.Utils.SpiderFilter.SpiderFilterHttpModule,Bitauto.Utils.SpiderFilter"/>-->
    </modules>
    <httpErrors errorMode="Custom" defaultResponseMode="Redirect">
      <remove statusCode="404"/>
      <error statusCode="404" responseMode="Redirect" path="http://www.jita.com/404error.aspx"/>
    </httpErrors>
  </system.webServer>

  <location path="ValidatecodeImg.aspx">
    <system.webServer>
      <handlers>
        <remove name="com_ValidateCodeHelper"/>
        <!--<add name="ValidatecodeHttpHandler" verb="GET,HEAD" path="ValidatecodeImg.aspx" type="BitAuto.Utils.ValidatecodeHttpHandler, BitAuto.Utils" />-->
        <add name="com_ValidateCodeHelper" verb="GET,HEAD" path="ValidatecodeImg.aspx" type="Jita.Common.com_ValidateCodeHelper, Jita.Common, Version=1.0.0.0, Culture=neutral" />
      </handlers>
      <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
  </location>
  
</configuration>
